<div *ngIf="open" class="modal-backdrop" (pointerdown)="onBackdropPointerDown($event)">
  <div class="edit-box">
    
    <div class="modal-header">
      <h3>Edit Task</h3>
      <button class="close-btn" (click)="close.emit()">✕</button>
    </div>

    <input
      placeholder="Task Title"
      [(ngModel)]="title"
      class="input"
    />
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="custom-form">
      <mat-select [(ngModel)]="priority" placeholder="Priority">
        <mat-option value="low">Low</mat-option>
        <mat-option value="medium">Medium</mat-option>
        <mat-option value="high">High</mat-option>
      </mat-select>
    </mat-form-field>
    
    <textarea
      placeholder="Task Description"
      [(ngModel)]="description"
      class="textarea"
    ></textarea>
    
    <div class="modal-actions">
      <button class="primary" (click)="onSave()">Save</button>
      <button class="secondary" (click)="close.emit()">Cancel</button>
    </div>

  </div>
</div>